<!DOCTYPE html>
<html lang="ch">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <title>今日</title>
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <style>
        #content{
            width: 80%;
            height: 90%;
            overflow: auto;
            position: fixed;
            top: 80px;
            left: 20%;
        }
        #button_area{
            position: fixed;
            top:80px;
            right: 80%;
            width: 20%;
            height: 100%;
        }
        #button_area button{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-70%, -100%);
        }
        #user_head{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #6f42c1;
            color: white;
            font-size: 20px;
            text-align: center;
            line-height: 30px;
            position: relative;
            left: 95%;
            user-select: none;
            cursor: pointer;
        }
    </style>

    <script>
        $(function () {
            $('#save_input_button').click(function () {
                $input_title = $('#input_title').val()
                $input_content = $('#input_content').val()
                $start_time = $('#start_time').val()
                $end_time = $('#end_time').val()
                $.ajax({
                    'url': '/today/ajax_check/',
                    'type': 'POST',
                    'dataType': 'json',
                    'data': {
                        'input_title': $input_title,
                        'input_content': $input_content,
                        'start_time': $start_time,
                        'end_time': $end_time,
                    }
                })
                    .done(function () {
                        window.location.href = '/today/'
                    })
            })

            $('th[name=delete_event_btn]').click(function () {
                $id = $(this).children().attr('name')
                $.ajax({
                    'url': '/today/delete/' + $id,
                    'type': 'POST',
                    'dataType': 'json',
                    'data': ''
                })
                    .done(function () {
                        window.location.href = '/today/'
                    })
            })

            $('tbody tr th').click(function () {
                $btn_type = $(this).attr('name')
                if($btn_type.length > 0){
                    if($btn_type == 'up'){
                        $(this).parent().insertBefore($(this).parent().prev())
                    }
                    if($btn_type == 'down'){
                        $(this).parent().insertAfter($(this).parent().next())
                    }
                }
            })
        })
    </script>
</head>
<body>
    <!-- 顶部菜单条 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-brand">日程</div>
        {% load user_head_filter %}
        <div id="user_head" onclick="window.location.href='/today/my/'">{{ user_head|user_head_filter }}</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <!-- 显示模态框的按钮 -->
    <div id="button_area">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_event">添加行程</button>
    </div>

    <!-- 显示表格内容  -->
    <div id="content">
        <table class="table table-hover">
            <thead class="w-100">
            <tr class="row mx-0">
                <th class="col-2">起始日期时间</th>
                <th class="col-2">截止日期时间</th>
                <th class="col-2">标题</th>
                <th class="col-2">内容</th>
                <th class="col-1">是否结束</th>
                <th class="col-3">功能</th>
            </tr>
            </thead>
            <tbody class="table table-hover">
            {% for i in all %}
                <tr class="row mx-0">
                    <th class="col-2">{{ i.start_time }}</th>
                    <th class="col-2">{{ i.end_time }}</th>
                    <th class="col-2">{{ i }}</th>
                    <th class="col-2">{{ i.content }}</th>
                    <th class="col-1">{{ i.is_finished }}</th>
                    <th class="col-1" name="up" style="cursor: pointer">↑</th>
                    <th class="col-1" name="down" style="cursor: pointer">↓</th>
                    <th class="col-1" name="delete_event_btn"><button type="button" class="btn btn-danger" name="{{ i.id }}">删除</button></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- 模态框  -->
    <div class="modal fade" id="add_event" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="modal_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title">行程详细</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="submit_all">
                        <div class="form-group">
                            <label for="input_title">标题</label>
                            <input type="text" class="form-control" id="input_title">
                        </div>
                        <div class="form-group">
                            <label for="input_content">内容</label>
                            <textarea class="form-control" id="input_content"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="start_time">起始日期</label>
                            <input type="datetime-local" id="start_time">
                        </div>
                        <div class="form-group">
                            <label for="end_time">截止日期</label>
                            <input type="datetime-local" id="end_time">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="save_input_button">保存</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>