<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <title>今日</title>
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <style>
        #content{
            width: 800px;
            height: 600px;
            border: 1px solid #9fcdff;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -300px;
            margin-left: -400px;
            padding: 30px;
        }
        form div{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        form div button{
            margin-top: 80px;
        }
        form
    </style>
</head>
<body>
    <div id="content">
        <form action="/login/" method="POST">
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label for="checkpwd">确认密码</label>
                <input type="password" class="form-control" name="checkpwd">
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-block">提交</button>
            </div>
        </form>
    </div>
</body>
</html>