<!DOCTYPE html>
<html lang="ch">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <title>今日</title>
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <style>
        #content{
            width: 800px;
            height: 500px;
            border: 1px solid #9fcdff;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -250px;
            margin-left: -400px;
            padding: 30px;
        }
        form div{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        form div button{
            margin-top: 80px;
        }
        form
    </style>

    <script>
        $(function () {
            $('#register_btn').click(function () {
                $user_name = $('#input_username').val()
                $password = $('#input_pwd').val()
                $check_password = $('#check_pwd').val()
                if ($password != $check_password){
                    alert("两次输入的密码不一致")
                }
                else {
                    $.ajax({
                        'url': '/register/',
                        'type': 'POST',
                        'dataType': 'json',
                        'data': {
                            'username': $user_name,
                            'password': $password,
                        }
                    })
                        .done(function (data) {
                            if(data.res == '1'){
                                alert('注册成功，您的id为'+data.uid+'，请记住，这将是您的登录id')
                                window.location.href='/today/'
                            }
                            else{
                                alert('注册失败')
                            }
                        })
                }
            })
        })
    </script>
</head>
<body>
    <div id="content">
        <form>
            <div class="form-group" style="margin-top: 0px">
                <label>用户名</label>
                <input type="text" class="form-control" name="username" id="input_username">
            </div>
            <div>
                <label for="password">密码</label>
                <input type="password" class="form-control" name="password" id="input_pwd">
            </div>
            <div class="form-group">
                <label>确认密码</label>
                <input type="password" class="form-control" name="checkpwd" id="check_pwd">
            </div>
            <div>
                <button type="button" class="btn btn-info btn-block" style="margin-top: 40px" id="register_btn">注册</button>
            </div>
        </form>
    </div>
</body>
</html>